.credits {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 26px;
  text-align: center;
  z-index: 100000;
  background: black;
  color: #194750;

  &.js-hide {
    display: none;
  }

  button {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 100px;
    left: 100px;

    svg {
      width: 50px;
      height: 50px;
    }

    &:hover svg * {
      stroke: #4BD5EE;
    }
  }

  a {
    color: white;
    text-decoration: none;

    &:hover,
    &:focus {
      border-bottom: 1px solid white;
    }
  }

  ul {
    padding-left: 0;
    list-style: none;
    transform: perspective(500px) rotateX(15deg);
    transform-origin: 50% 100%;
    backface-visibility: hidden;

    h3 {
      margin-bottom: 0;
      color: #4bd5ee;
      text-transform: uppercase;
    }

    li {
      margin-bottom: 20px;
    }
  }

  .small {
    margin-top: 20px;
    font-size: 19px;
    color: #194750;
  }
}
