header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10000;
}

.logo svg {
  width: 250px;
  height: 48px;

  @include bp(min-width, $bp-medium + 1) {
    width: 400px;
  }
}

.logo:hover {
  cursor: pointer;
}
