.yoda {
  position: relative;
  top: -25px;
  height: 75px;
  width: 150px;
  animation-duration: 2s;
  animation-name: floating-yoda;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function:linear;
  animation-fill-mode:forwards;
  transform: translateY(15px);
  transition: all 1s;

  &.js-show-yoda {
    opacity: 1;
  }

  @include bp(min-width, $bp-large + 1) {
    margin-bottom: 10px;
    margin-right: 10px;
    opacity: 0;
  }

  * {
    fill: $c-yoda-green;
  }
}

@keyframes floating-yoda {
  to{
    transform:translateY(10px);
  }
}
